<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_number.to_i %></dd>

  <dt>Second number</dt>
  <dd><%= @second_number.to_i %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>

<a href="/add">Do another addition</a>
